{% extends "layouts/base.html" %}

{% block title %} UI Forms {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">

        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <!-- [ breadcrumb ] start -->
                <div class="page-header">
                    <div class="page-block">
                        <div class="row align-items-center">
                            <div class="col-md-12">
                                <div class="page-header-title">
                                    <h5 class="m-b-10">Form Elements</h5>
                                </div>
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                    <li class="breadcrumb-item"><a href="javascript:">Form Componants</a></li>
                                    <li class="breadcrumb-item"><a href="javascript:">Form Elements</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ breadcrumb ] end -->
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Basics</h5>
                                        <h6>The Always On availability group feature is a high-availability solution
                                            that maximizes the availability of a set of user databases for an
                                            enterprise. An availability group supports a failover environment for a
                                            discrete set of user databases, known as availability databases, that fail
                                            over together. An availability group supports a set of read-write primary
                                            databases and one to eight sets of corresponding secondary databases.</h6>
                                    </div>
                                    <div class="card-body">
                                        <h5>Product details</h5>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <form>
                                                    <div class="form-group">
                                                        <label for="exampleFormControlSelect1">Subscription<span class="mytooltip" data-tooltip="All resources in an Azure subscription are billed together." value="Help me choose subscription">?</span></label>
                                                        
                                                        <select class="form-control" id="exampleFormControlSelect1">
                                                            <option>SQL IaaS R&D 1</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="exampleFormControlSelect1">Resource group<span class="mytooltip" data-tooltip="A resource group is a collection of resources that share the same lifecycle, permissions, and policies.." value="Help me choose resource group">?</span></label>
                                                        <select class="form-control" id="exampleFormControlSelect1">
                                                            <option></option>
                                                        </select>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <h5 class="mt-5">Instance details</h5>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="customRange2">Number of virtual machines</label>
                                                <input type="range" class="custom-range" min="0" max="5"
                                                    id="customRange2">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Virtual machine names<span class="mytooltip" data-tooltip="Virtual machine names." value="Help me name virtual machines">?</span></label>
                                                    <input type="text" class="form-control" id="exampleInputEmail1"
                                                        aria-describedby="emailHelp">
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleFormControlSelect1">Region<span class="mytooltip" data-tooltip="Choose the Azure region that's right for you and your customers. Not all VM sizes are available in all regions.." value="What is region">?</span></label>
                                                    <select class="form-control" id="exampleFormControlSelect1">
                                                        <option>(US) East US</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleFormControlSelect1">Availability options<span class="mytooltip" data-tooltip="Azure offers a range of options for managing availability and resiliency for your applications. Architect your solution to use replicated VMs in Availability Zones or Availability Sets to protect your apps and data from datacenter outages and maintenance events." value="what is availability zone and availability set">?</span></label>
                                                    <select class="form-control" id="exampleFormControlSelect1">
                                                        <option>Availability zone</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    Security Type: Standard
                                                </div>
                                                <div class="form-group">
                                                    Image: Free SQL Server License: SQL Server 2022 Developer on Windows
                                                    Server 2022 - Gen2
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleFormControlSelect1">Size</label>
                                                    <select class="form-control" id="exampleFormControlSelect1">
                                                        <option>Standard_D16as_v4 - 16 vcpus, 64 GiB memory</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <h5 class="mt-5">Virtual machine administrator account</h5>
                                        <hr>
                                        <form class="form-inline">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="exampleInputEmail1">Username</label>
                                                        <input type="email" class="form-control" id="exampleInputEmail1"
                                                            aria-describedby="emailHelp" placeholder="Enter email">
                                                        <small id="emailHelp" class="form-text text-muted">We'll never
                                                            share your email with anyone else.</small>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="exampleInputPassword1">Password</label>
                                                        <input type="password" class="form-control"
                                                            id="exampleInputPassword1" placeholder="Password">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="exampleInputPassword1">Confirm password</label>
                                                        <input type="password" class="form-control"
                                                            id="exampleInputPassword1" placeholder="Password">
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <h5 class="mt-5">Licensing</h5>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                                            <label class="custom-control-label" for="customCheck1">Save up to 49% with a
                                                license you already own using Azure Hybrid Benefit. Learn more
                                                Would you like to use an existing Windows Server license?</label>
                                        </div>


                                        <h5 class="mt-5">SQL Server License</h5>
                                        Save up to 43% with a license you already own with Azure Hybrid Benefit. Get a
                                        free SQL server licenses in Azure for High Availability and Disaster Recovery
                                        through Software Assurance. These discounts are only supported for Standard and
                                        Enterprise editions. Learn more
                                        <h6>SQL Server License</h6>
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="customRadio1" name="customRadio"
                                                class="custom-control-input">
                                            <label class="custom-control-label" for="customRadio1">Toggle this custom
                                                radio</label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="customRadio2" name="customRadio"
                                                class="custom-control-input">
                                            <label class="custom-control-label" for="customRadio2">Or toggle this other
                                                custom radio</label>
                                        </div>

                                    </div>
                                </div>
                                <!-- Input group -->
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Networking</h5>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h5 class="mt-5">NIC network security group</h5>
                                                <hr>
                                                <div class="custom-control custom-radio">
                                                    <input type="radio" id="customRadio1" name="customRadio"
                                                        class="custom-control-input">
                                                    <label class="custom-control-label" for="customRadio1">None</label>
                                                </div>
                                                <div class="custom-control custom-radio">
                                                    <input type="radio" id="customRadio2" name="customRadio"
                                                        class="custom-control-input">
                                                    <label class="custom-control-label" for="customRadio2">Basic</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h5 class="mt-5">Public inbound ports</h5>
                                                <hr>
                                                <div class="custom-control custom-radio">
                                                    <input type="radio" id="customRadio1" name="customRadio"
                                                        class="custom-control-input">
                                                    <label class="custom-control-label" for="customRadio1">None</label>
                                                </div>
                                                <div class="custom-control custom-radio">
                                                    <input type="radio" id="customRadio2" name="customRadio"
                                                        class="custom-control-input">
                                                    <label class="custom-control-label" for="customRadio2">Allow
                                                        selected ports</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- [ Main Content ] end -->
                    </div>
                </div>

                <section class="msger">
                    <header class="msger-header">
                        <div class="msger-header-title">
                            <i class="fas fa-bug"></i> Chatbot <i class="fas fa-bug"></i>
                        </div>
                    </header>

                    <main class="msger-chat">
                        <div class="msg left-msg">
                            <div class="msg-img" style="background-image: url(/static/assets/images/user/avatar-1.jpg)"></div>

                            <div class="msg-bubble">
                                <div class="msg-text">
                                    Hi, I am here to answer your questions. 😄
                                </div>
                            </div>
                        </div>

                    </main>

                    <form class="msger-inputarea">
                        <textarea type="text" class="msger-input" id="textInput"
                            placeholder="Enter your message..."></textarea>
                        <button type="submit" class="msger-send-btn">Send</button>
                    </form>
                </section>
            </div>
        </div>

    </div>
</div>

<!-- partial -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src='https://use.fontawesome.com/releases/v5.0.13/js/all.js'></script>
<script>
    $(".msger").hide()
    const msgerForm = get(".msger-inputarea");
    const msgerInput = get(".msger-input");
    const msgerChat = get(".msger-chat");


    // Icons made by Freepik from www.flaticon.com
    const BOT_IMG = "{{ config.ASSETS_ROOT }}/images/user/avatar-1.jpg";
    const PERSON_IMG = "{{ config.ASSETS_ROOT }}/images/user/avatar-2.jpg";
    const BOT_NAME = "    ChatBot";
    const PERSON_NAME = "You";

    $(".mytooltip").click((event) => {
        event.preventDefault();
        $(".msger").show()
        const msgText = event.target.getAttribute("value");
        if (!msgText) return;

        appendMessage(PERSON_NAME, PERSON_IMG, "right", msgText);
        msgerInput.value = "";
        botResponse(msgText);
    });

    msgerForm.addEventListener("submit", event => {
        event.preventDefault();

        const msgText = msgerInput.value;
        if (!msgText) return;

        appendMessage(PERSON_NAME, PERSON_IMG, "right", msgText);
        msgerInput.value = "";
        botResponse(msgText);
    });

    function appendMessage(name, img, side, text) {
        //   Simple solution for small apps
        const msgHTML = `
        <div class="msg ${side}-msg">
          <div class="msg-img" style="background-image: url(${img})"></div>

          <div class="msg-bubble">
            <div class="msg-text" style="white-space: pre-wrap">${text}</div>
          </div>
        </div>
        `;

        msgerChat.insertAdjacentHTML("beforeend", msgHTML);
        msgerChat.scrollTop += 500;
    }

    function botResponse(rawText) {

        // Bot Response
        $.get("/get", { msg: rawText }).done(function (data) {
            debugger;
            const msgText = data["choices"][0]["text"].trim(2);
            appendMessage(BOT_NAME, BOT_IMG, "left", msgText);
        });
    }


    // Utils
    function get(selector, root = document) {
        return root.querySelector(selector);
    }

    function formatDate(date) {
        const h = "0" + date.getHours();
        const m = "0" + date.getMinutes();

        return `${h.slice(-2)}:${m.slice(-2)}`;
    }

</script>
<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}